 
/* large 3*/
@media (max-width: 1200px) {
    .services-box{
        width: 50%;
    }
}
/* medium 2 */
@media (max-width: 991px) {
    .container{
        width: 95%;
    }
    .navbar-span{
        display: block;
    }
    .navbar ul{
        display: none;
    }
    .img-box{
        border: none;
        width: 95%;
        overflow: hidden;
        margin-left: 0;
    }
    .about-overly{
        position: static;
    }
    .about-text{
        font-size: 14px;
    }
    .services-box{
        width: 50%;
    }
    .ovr{ 
        width: 50%;
    }
    .feedback{
        width: 80%;
    }
}

/* sm 1 */
@media (max-width: 767px) {

    .slider-text h1{
        font-size: 50px;
    }
    .slider-text p{
        font-size: 19px;
    }
    .container{
        width: 75%;
    }
    .about-img{
        width: 100%; 
    }
    .img-box{
        width: 100%;
    }
    .about-overly{
        position: static;
    }
    .about-text{
        width: 100%;
    }
    .about-desc h2{
        font-size: 33px;
    }
    .about-info li{
        width: 100%;
    }
    .services-box{
        width: 100%;
    }
    .ovr{ 
        width: 100%;
    }
    .statistics-box {
        width: 100%;
    }
    .feedback-img{
        width: 85%;
        text-align: center;
        float: none;
    }
    .feedback-img img{
        width: 100px;
    }
    .feedback-info{
        width: 85%;
        float: none;
    }
    .blog-boxs{
        flex-direction: column;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .div-input, .sm{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}
/* xs  1*/
@media (max-width: 600px) {
}